body {
    background-color: #6e849b;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    background-color: #3f7d9f;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 40px;
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.data-container {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #6c757d;
}
